<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>CacheHashPerformanceTests</key>
		<dict>
			<key>test_fullReplace_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.060700</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>13.100000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>39500.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_fullReplace_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.034200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>151.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>41100.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>DateFormatterPerformanceTests</key>
		<dict>
			<key>test_dateFormatter_createEveryTime_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.047400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>6.550000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>39300.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>DecodingPerformanceTests</key>
		<dict>
			<key>test_decodeAlbumList_20()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000030</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>48974.080000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodePhotos_10()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000042</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>48993.740800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodePhotos_100()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000408</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>-3.276800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49092.044800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodePhotos_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.003610</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49144.473600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodePhotos_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001857</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49105.152000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodeSearchResponse_200()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000294</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.276800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49101.875200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodeSearchResponse_50()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000070</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49072.384000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>ImageCompressionPerformanceTests</key>
		<dict>
			<key>test_jpegCompression_quality100_4K()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.046277</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.276800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>559535.972800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_noCompression_originalData_4K()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000005</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>520915.584000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>MappingPerformanceTests</key>
		<dict>
			<key>test_filterSensitivePhotos_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000387</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_fullPipeline_decodeAndMap_100()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005101</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49121.536000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_fullPipeline_decodeAndMap_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027700</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49124.812800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_mapToHomeModel_100()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.005152</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49121.536000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_mapToHomeModel_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.054061</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49131.366400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_mapToHomeModel_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027441</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49154.304000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>MemoryPerformanceTests</key>
		<dict>
			<key>test_memoryFootprint_homeModels_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>16.400000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>62100.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_memoryFootprint_searchResults_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.280000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>61900.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_memoryPeak_fullPipeline_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.060900</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.830000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>40800.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>PhotoInfoPerformanceTests</key>
		<dict>
			<key>test_decodeTags_10()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000020</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_decodeTags_100()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000123</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_descriptionTrimming_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000224</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_encodeTagRequest_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000815</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_optimisticTagUpdate_in10()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000373</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_optimisticTagUpdate_in100()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.004721</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_tagAppend_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000149</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49105.152000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>PhotoLoadingPerformanceTests</key>
		<dict>
			<key>test_dataContentsOf_4K()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000179</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.276800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>490860.726400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_fileCopy_10photos()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002550</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>808061.736000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_loadAndParseEXIF_10photos()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002938</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>4368225.512000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_sequentialLoad_10photos()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000684</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>793119.528000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
		<key>TokenPerformanceTests</key>
		<dict>
			<key>test_tokenRefreshCycle_500()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.300955</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>131.072000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>49799.833600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_tokenStore_clear_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.545915</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_tokenStore_hasTokens_check_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.009840</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_tokenStore_read_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000902</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
			<key>test_tokenStore_save_1000()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.493205</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Local Baseline</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
