<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>숨겨진 민감한 사진을 보려면 Face ID 인증이 필요해요.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
